In [1]:
from random import sample
from datetime import date, datetime
from pydbgen import pydbgen
import pandas as pd
import numpy as np 
import random

# Age variable

In [2]:
def calculate_age(born):
    born = datetime.strptime(born, '%Y-%m-%d').date()
    today = date.today()
    return today.year - born.year - ((today.month,
                                      today.day) < (born.month,
                                                    born.day))

In [3]:
DB = pydbgen.pydb()
Age = DB.gen_dataframe(250, fields=['date'])
Age['age'] = Age['date'].apply(calculate_age)
Age

           date  age
0    1997-05-07   24
1    1988-12-22   32
2    1990-10-24   31
3    1997-03-04   24
4    2002-07-22   19
..          ...  ...
245  2010-07-21   11
246  2003-09-17   18
247  1973-10-05   48
248  2007-09-05   14
249  2006-01-12   15

[250 rows x 2 columns]

# Name and Gender variable

In [4]:
first_names_gender = (pd.read_csv('data/name_gender_dataset.csv'))[['Name', 'Gender']]
first_names_gender = first_names_gender.sample(250, random_state=1)
first_names_gender

                  Name Gender
144506         Semideo      M
893              Sheri      F
142324          Necati      M
101964          Monyka      F
143433  Rainer-Francis      M
...                ...    ...
29806         Sabrinia      F
56481            Zolah      F
29099            Falen      F
56537          Harroll      M
114827           Khobi      M

[250 rows x 2 columns]

In [5]:
last_names = pd.read_csv('data/most-common-name_surnames.csv')
last_names = last_names['name']
last_names = last_names.sample(250, random_state=1)
last_names

507     AGUIRRE
818     MCMAHON
452     PARSONS
368    GRIFFITH
242     GILBERT
         ...
385       QUINN
890       BURCH
439        TATE
135       OLSON
567      MASSEY
Name: name, Length: 250, dtype: object

# BMI and Height

# Country and City

# Case-Control Status

# Education Level

# Gene Expression Values

# SNP Values

# Combining all data into one dataframe

In [ ]:
simulation['First_Name'] = first_names_gender['Name']
simulation['Gender'] = first_names_gender['Gender']
simulation['Last_Name'] = last_names
simulation