In [8]:
import pandas as pd
import numpy as np 
import random
first_names = (pd.read_csv("babies-first-names-2010-2019.csv")[["sex","FirstForename"]]).dropna()
last_names = pd.read_csv("most-com-surnames-bmd-registers-20.csv", header=16)["Surname"].dropna()
first_names = first_names.sample(250, random_state=1)
last_names = last_names.sample(250, random_state=1)

In [9]:
first_names

      sex FirstForename
20561   G      Dominika
7289    G       Tziyona
54977   B          Hiro
38      B         David
33622   B         Smith
...    ..           ...
34522   G         Rylee
8552    B         Pablo
20817   G     Funmilola
32878   B         Kenzy
20212   G  Bethany-Jane

[250 rows x 2 columns]

In [11]:
pwd

'/Users/simongrouard/Desktop/intro_simulation/simon_work'